ion-content {
    ion-list {
        background: transparent;
    }
}
ion-footer {
    ion-toolbar {
        padding: 0 3px;
        ion-textarea {
            border: 1px solid var(--ion-color-medium);
            border-radius: 20px;
            margin: 0.5vh 0;
            padding-left: 0.938rem;
        }
        ion-buttons {
            ion-fab-button {
                --box-shadow: none;
            }
            .rotate45up {
                transform: rotate(-45deg);
            }
         }
    }
}
